@using QuickspatchWeb.Models
@model QuickspatchWeb.Models.FranchiseeTenant.DashboardFranchiseeTenantDataViewModel
@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

<div ng-controller="createFranchiseeController">
    @Html.Partial("_Shared", Model.SharedViewModel)
</div>

@section FooterActions
{
    @Model.AddFooterAction("Create", "fa-save", FooterActionEnum.Save, "createFranchiseeController")
    @Model.AddFooterAction("Cancel", "fa-close", FooterActionEnum.Cancel, "createFranchiseeController", false)

    @Html.Partial("~/Views/Shared/_FooterActions.cshtml", Model.FooterActions)
}
