@using QuickspatchWeb.Models
@using QuickspatchWeb.Models.Schedule
@model DashboardScheduleDataViewModel
@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

<div id="update-schedule-controller" ng-controller="updateScheduleController">
    @Html.Partial("_Shared", Model.SharedViewModel)
</div>

@section FooterActions
{
    @Model.AddFooterAction("Update", "fa-save", FooterActionEnum.Save, "updateScheduleController")
    @Model.AddFooterAction("Cancel", "fa-close", FooterActionEnum.Cancel, "updateScheduleController", false)

    @Html.Partial("~/Views/Shared/_FooterActions.cshtml", Model.FooterActions)
}
