@using QuickspatchWeb.Models
@using QuickspatchWeb.Models.Customer
@model DashboardCustomerDataViewModel
@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

<div ng-controller="updateCustomerController">
    @Html.Partial("_Shared", Model.SharedViewModel)
</div>

@section FooterActions
{
    @Model.AddFooterAction("Update", "fa-save", FooterActionEnum.Save, "updateCustomerController")
    @Model.AddFooterAction("Cancel", "fa-close", FooterActionEnum.Cancel, "updateCustomerController", false)

    @Html.Partial("~/Views/Shared/_FooterActions.cshtml", Model.FooterActions)
}
