@using System.Configuration
@using QuickspatchWeb.HtmlHelpers
@model QuickspatchWeb.Models.Courier.DashboardCourierShareViewModel
@{
    Layout = null;
}
<div class="portlet-content" data-ng-controller="courierSharePasswordController">
    <form class="smart-form" role="form" style="width:100%; margin:0;padding: 0;">
        <div class="popup-body modal-body" style="overflow-y: auto; overflow-x: hidden;">
            <fieldset>
                @Html.CustomTextBox("Password", "New Password", "Courier.Password", 6, required: true, length: 50, isPasswordType: true, autoComplete: "off")
                @Html.CustomTextBox("RePassword", "Confirm New Password", "Courier.RePassword", 6, required: true, length: 50, isPasswordType: true, autoComplete: "off")
            </fieldset>
        </div>
        <div class="popup-footer">
            <!--footer-->
            <div style="padding: 10px">
                <button class="btn btn-primary pull-left" type="button" ng-click="ResetPassword()"><i class="fa fa-key"></i> Reset Password Default</button>
                <div class="btn-group pull-right">
                    <button class="btn btn-primary" type="button" ng-click="Save()"><i class="fa fa-save"></i> Save</button>
                    <button class="btn btn-default" type="button" ng-click="Cancel()"><i class="fa fa-remove"></i> Cancel</button>

                </div>

            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    function CourierViewModel()
    {
        var self = this;
        self.Id = @Model.Id;
        self.UserName ="";
        self.Password= "";
        self.RePassword = "";

    }

    // Setup dirty dialog handling across all forms
    $('form').areYouSure({
        message: '@Html.Raw(Model.DirtyDialogMessageText)',
        change: function () {
            var formElement = $(this);
            if (formElement[0] === undefined) {
                formElement = $(document).find('form');
            }

            if (formElement.hasClass('dirty')) {
                EnableCreateFooterButton(true);
            } else {
                EnableCreateFooterButton(false);
            }
        }
    });
    $(".popup-body.modal-body").css({ height: $(".k-widget.k-window").height()-55 });
</script>