@using QuickspatchWeb.Models
@using QuickspatchWeb.Models.Courier
@model DashboardCourierDataViewModel
@{
    Layout = null;
}

<div ng-controller="resetPasswordCourierController">
    @Html.Partial("_SharedPassword", Model.SharedViewModel)
</div>

