@using QuickspatchWeb.Models
@using QuickspatchWeb.Models.Location
@model DashboardLocationDataViewModel
@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

<div ng-controller="createLocationController">
    @Html.Partial("_Shared", Model.SharedViewModel)
</div>

@section FooterActions
{
    @Model.AddFooterAction("Create", "fa-save", FooterActionEnum.Save, "createLocationController")
    @Model.AddFooterAction("Cancel", "fa-close", FooterActionEnum.Cancel, "createLocationController", false)

    @Html.Partial("~/Views/Shared/_FooterActions.cshtml", Model.FooterActions)
}
