@using QuickspatchWeb.HtmlHelpers
@{
    Layout = null;
}

<div class="portlet-content" data-ng-controller="changePasswordProfileController">
    <form class="smart-form" role="form" style="width:100%; margin:0;padding: 0;">
        <div class="popup-body modal-body" style="overflow-y: auto; overflow-x: hidden;">
            <fieldset >
                @Html.CustomTextBox("CurrentPassword", "Current Password", "User.CurrentPassword", 6, required: true, length: 50, isPasswordType: true)
            </fieldset>
            <fieldset style="border-top-width: 0; padding-top: 0px;">
                @Html.CustomTextBox("Password", "New Password", "User.Password", 6, required: true, length: 50, isPasswordType: true)
                @Html.CustomTextBox("RePassword", "Confirm New Password", "User.RePassword", 6, required: true, length: 50, isPasswordType: true)
            </fieldset>
        </div>
        <div class="popup-footer">
            <!--footer-->
            <div style="padding: 10px">
                @*<button class="btn btn-primary pull-left" type="button" ng-click="ResetPassword()"><i class="fa fa-key"></i> Reset Password Default</button>*@
                <div class="pull-right">
                    <button class="btn btn-primary" type="button" ng-click="Save()"><i class="fa fa-save"></i> Save</button>
                    <button class="btn btn-default" type="button" ng-click="Cancel()"><i class="fa fa-remove"></i> Cancel</button>

                </div>

            </div>
        </div>
    </form>
</div>
<script>
    function UserViewModel() {
        var self = this;
        self.Password = "";
        self.RePassword = "";
        self.CurrentPassword = "";
    }
</script>