@using QuickspatchWeb.Models
@using QuickspatchWeb.Models.User
@model DashboardUserDataViewModel
@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

<div ng-controller="createUserController">
    @Html.Partial("_Shared", Model.SharedViewModel)
</div>

@section FooterActions
{
    @Model.AddFooterAction("Create", "fa-save", FooterActionEnum.Save, "createUserController")
    @Model.AddFooterAction("Cancel", "fa-close", FooterActionEnum.Cancel, "createUserController", false)

    @Html.Partial("~/Views/Shared/_FooterActions.cshtml", Model.FooterActions)
}
