@using QuickspatchWeb.Models
@using QuickspatchWeb.Models.User
@model DashboardUserDataViewModel
@{
    Layout =null;
}

<div ng-controller="resetPasswordUserController">
    @Html.Partial("_SharedPassword", Model.SharedViewModel)
</div>

