@using QuickspatchWeb.Models
@using QuickspatchWeb.Models.Contact
@model DashboardContactDataViewModel
@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

<div ng-controller="createContactController">
    @Html.Partial("_Shared", Model.SharedViewModel)
</div>

@section FooterActions
{
    @Model.AddFooterAction("Create", "fa-save", FooterActionEnum.Save, "createContactController")
    @Model.AddFooterAction("Cancel", "fa-close", FooterActionEnum.Cancel, "createContactController", false)

    @Html.Partial("~/Views/Shared/_FooterActions.cshtml", Model.FooterActions)
}
