@using QuickspatchWeb.Models
@model QuickspatchWeb.Models.Module.DashboardModuleDataViewModel
@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

<div ng-controller="createModuleController">
    @Html.Partial("_Shared", Model.SharedViewModel)
</div>

@section FooterActions
{
    @Model.AddFooterAction("Create", "fa-save", FooterActionEnum.Save, "createModuleController")
    @Model.AddFooterAction("Cancel", "fa-close", FooterActionEnum.Cancel, "createModuleController", false)

    @Html.Partial("~/Views/Shared/_FooterActions.cshtml", Model.FooterActions)
}
