
@{
    ViewBag.Title = "RestorePassword";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div id="main" role="main" ng-controller="restorePasswordController">

    <!-- MAIN CONTENT -->
    <div id="content" class="container">

        <div class="row">
            <div class="col-xs-4 col-xs-offset-4">
                <div class="well no-padding">
                    <form id="login-form" class="smart-form client-form">
                        <header>
                            Forgot Password
                        </header>

                        <fieldset>

                            <section>
                                <label class="label">Enter your email address</label>
                                <label class="input">
                                    <i class="icon-append fa fa-envelope"></i>
                                    <input type="text" name="email" id="forget-password-email" placeholder="Email" ng-model="email">
                                    <b class="tooltip tooltip-top-right"><i class="fa fa-envelope txt-color-teal"></i> Please enter email address for password reset</b>
                                </label>
                            </section>
                            <section>
                                <div class="note">
                                    <a href="@Url.Action("SignIn", "Authentication")" class="btn btn-default">I remembered my password!</a>
                                </div>
                            </section>

                        </fieldset>
                        <footer>
                            <button type="button" class="btn btn-primary" ng-click="click()">
                                <i class="fa fa-refresh"></i> Reset Password
                            </button>
                        </footer>
                    </form>

                </div>
            </div>
        </div>
    </div>

</div>

@section scripts{
    <script src="~/app/controllers/restorePasswordController.js"></script>
}