@using QuickspatchWeb.Models
@model QuickspatchWeb.Models.UserRole.DashboardUserRoleDataViewModel
@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

<div ng-controller="createUserRoleController">
    @Html.Partial("_Shared", Model.SharedViewModel)
</div>

@section FooterActions
{
    @Model.AddFooterAction("Create", "fa-save", FooterActionEnum.Save, "createUserRoleController")
    @Model.AddFooterAction("Cancel", "fa-close", FooterActionEnum.Cancel, "createUserRoleController", false)

    @Html.Partial("~/Views/Shared/_FooterActions.cshtml", Model.FooterActions)
}