<ul>
    <li class="active">
        <a href="/home/index" title="Dashboard"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Dashboard</span></a>
    </li>
    <li>
        <a href="/home/referral" title="Referral"><i class="fa fa-lg fa-fw fa-bullhorn"></i> <span class="menu-item-parent">Referral</span></a>
    </li>
    <li>
        <a href="/home/billing" title="Billing"><i class="fa fa-lg fa-fw fa-money"></i> <span class="menu-item-parent">Billing</span></a>
    </li>
    <li>
        <a href="#" title="Reporting"><i class="fa fa-lg fa-fw fa-bar-chart-o"></i> <span class="menu-item-parent">Reports</span></a>
        <ul>
            <li>
                <a href="/home/summaryreport">Summary Report</a>
            </li>
            <li>
                <a href="/home/treatingReport">Treating Report</a>
            </li>
            <li>
                <a href="/home/closeoutReport">Closed Out Report</a>
            </li>
            <li>
                <a href="/home/settledReport">Settled Report</a>
            </li>
            <li>
                <a href="/home/referralReport">Referral Management Report</a>
            </li>
            <li>
                <a href="/home/patientReport">Patient Summary Report</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#" title="Administration"><i class="fa fa-lg fa-fw fa-cog"></i> <span class="menu-item-parent">Administration</span></a>
        <ul>
            <li>
                <a href="/home/administrationencounter">Encounter Management</a>
            </li>
            <li>
                <a href="/home/administrationcomment">Quick Note Management</a>
            </li>
            <li>
                <a href="/home/administrationreferralsource">Referral Source Management</a>
            </li>
            <li>
                <a href="/home/administrationlop">LOP Harmony</a>
            </li>
            <li>
                <a href="/home/administrationclient">Client Management</a>
            </li>
            <li>
                <a href="#/user">User Management</a>
            </li>
            <li>
                <a href="/home/administrationrole">Role Management</a>
            </li>
            <li>
                <a href="#">Customizations</a>
                <ul>
                    <li>
                        <a href="#">Logo</a>
                    </li>
                    <li>
                        <a href="#">Color scheme</a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>

</ul>
