@{
    ViewBag.Title = "BillingHistory";
    Layout = null;
}
<div ng-controller="billingHistoryController">
    <div class="row" style=" margin-left: 15px; margin-right: 15px;margin-top: 5px;">
        <div class="col-sm-12">
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-3">
                        <label class="radio-inline">
                            <input type="radio" ng-model="actionHistory" value="1" style="margin-top: 2px">Change Package
                        </label>
                    </div>
                    <div class="col-sm-3">
                        <label class="radio-inline" ng-click="selectRadioButton()">
                            <input type="radio" ng-model="actionHistory" value="2" style="margin-top: 2px">Transaction
                        </label>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div ng-if="actionHistory==1">
            <div ng-include="'/FranchiseeConfiguration/HistoryPackage'"> </div>
        </div>
        <div ng-if="actionHistory==2">
            <div ng-include="'/FranchiseeConfiguration/HistoryTransaction'"> </div>
        </div>
    </div>

</div>

