<div class="block-flat">
    <div data-cc-widget-header title="Aberrancies"></div>
    <div class="content">
        <h4 class="text-primary">1. Medication</h4>
        <i class="fa fa-angle-right"></i>
        Received medications from other doctors <i>on 08/01/2014</i>.<br />
        <i class="fa fa-angle-right"></i>
        Missing bills from the last bill count <i>on 07/01/2014</i>.
        <h4 class="text-primary">2. UDTS (Urine Drug Test Screen)</h4>
        <i class="fa fa-angle-right"></i>
        Refusal for <strong>UDTS</strong> <i>on 07/01/2014</i>.<br />
        <h4 class="text-primary">3. POT (Plan of Treatment)</h4>
        <i class="fa fa-angle-right"></i>
        Patient didnot schedule BH as outlied POT (08/06/2014)<br />
        <h4 class="text-primary">4. Others</h4>
        <i class="fa fa-angle-right"></i>
        Any others aberrancies<br />
    </div>
</div>
