<div class="block-flat">
    <div data-cc-widget-header title="Patient History"></div>
    <div class="content">
        <div class="row">
            <div class="col-sm-6">
                <h4 class="text-danger">Habits</h4>
                <i class="fa fa-angle-right"></i>
                Been smoking for 10 years, more than 2 packs a day
                <h4 class="text-success">Alcohol</h4>
                <i class="fa fa-angle-right"></i>
                No Alcohol consumption
                <h4 class="text-danger">Prescription Medication Abuse</h4>
                <i class="fa fa-angle-right"></i>
                Had a problem with prescriptions in the past
                <h4 class="text-danger">Illicit Medication Abuse</h4>
                <i class="fa fa-angle-right"></i>
                Had a history of illicit medication abuse.
                <h4 class="text-danger">Illicit Substances Abuse</h4>
                <i class="fa fa-angle-right"></i>
                Had used drugs that are illegal in Texas.
            </div>
            <div class="col-sm-6">
                <h4 class="text-danger">Risk Tests Scores</h4>
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge badge-danger">14</span>
                        <strong>SOAPP-R</strong>
                    </li>
                    <li class="list-group-item">
                        <span class="badge badge-danger">9</span>
                        <strong>COMM</strong>
                    </li>
                    <li class="list-group-item">
                        <span class="badge badge-success">2</span>
                        <strong>PQ-9</strong>
                    </li>
                    <li class="list-group-item">
                        <span class="badge badge-danger">10</span>
                        <strong>GAD-7</strong>
                    </li>
                    <li class="list-group-item">
                        <span class="badge badge-danger">11</span>
                        <strong>SNORE</strong>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
