@using Framework.DomainModel.ValueObject
@using QuickspatchWeb.Models
@model QuickspatchWeb.Models.Template.DashboardTemplateIndexViewModel
@{
    Layout = null;
}


<div class="panel panel-table">
    <div class="panel-heading">
        <div class="panel-title-small">Manage Template</div>
    </div>

    <div id="content-container" ng-controller="templateController">
        @Html.Partial("~/Views/Shared/Grid/_ReadOnlyGrid.cshtml", @Model.GridViewModel)
    </div>
</div>
